.services-div {
  width: 75%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}
.services-bodydiv {
  width: 90%;
  margin: auto;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 30px;
}
.four-divs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mini-div {
  width: 22.5%;
  height: 80px;
  border: 1px solid grey;
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 9px;
  border-radius: 5px;
}
@media (max-width: 1190px) {
  .mini-div {
    width: 46%;
    height: 100px;
  }
}
@media (max-width: 740px) {
  .mini-div {
    width: 43%;
    height: 100px;
  }
}
@media (max-width: 500px) {
  .mini-div {
    width: 100%;
    height: 100px;
  }
}
:hover.mini-div {
  cursor: pointer;
  background: #0747a6 !important;
  color: white !important;
}
.mini-div i {
  color: gray;
  font-size: 50px;
  position: absolute;
  right: -7%;
  bottom: 0%;
}
.mini-div p {
  padding-left: 10px;
}
