.cargo {
  width: 75%;
  margin: auto;
  background-color: white;
}
@media (max-width: 500px) {
  .cargo {
    width: 100%;
  }
}

.cargo-bodydiv {
  width: 90%;
  margin: auto;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* kfkkfdjjsd dsj,kkl */

#label {
  margin: auto;
}
.cargo-div1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.switch-div {
  display: flex;
}
.switch-div p {
  padding-left: 10px;
}
.cargo-button {
  background: whitesmoke;
}
.cargo-button button {
  width: 30%;
  height: 40px;
  font-size: small;
  margin: 10px 0;
  border: none;
}
@media (max-width: 820px) {
  .cargo-button button {
    width: 30%;
  }
}
.butt1 {
  color: #0747a6;
  border: 1px solid grey !important;
  background-color: white;
  border-radius: 5px;
}
.butt2 {
  color: silver;
  background: whitesmoke;
}
.fields {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}
.fields fieldset {
  padding: 0;
  margin-right: 15px;
  width: 20%;
}
@media (max-width: 720px) {
  .fields fieldset {
    width: 40%;
  }
}
.fields input {
  padding: 5px;
  border: none;
  width: 90%;
  outline: none;
}
.fields input::-webkit-input-placeholder {
  float: right;
}
