.location {
  width: 75%;
  margin: auto;
  padding-top: 20px;
  background-color: white;
}
@media (max-width: 500px) {
  .location {
    width: 100%;
  }
}

.location-bodydiv {
  width: 90%;
  margin: auto;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 30px;
}

.location-subdiv1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;

  box-sizing: border-box;
  width: 100%;
}
.body-inputs {
  position: relative;
  background: whitesmoke;
  border-radius: 5px;
  width: 30%;
}
@media (max-width: 880px) {
  .body-inputs {
    width: 47%;
    margin: 10px 0;
  }
  .imp-exp {
    margin: auto 0;
    width: 100%;
    position: relative;
  }
  .imp-exp i {
    display: block;
    position: absolute;
    top: -60%;
  }
}

@media (max-width: 1400px) {
  .imp-exp i {
    display: none;
    position: absolute;
    top: -60%;
  }
}
@media (max-width: 570px) {
  .body-inputs {
    width: 100%;
    margin: 10px 0;
  }
  .imp-exp {
    margin: auto 0;
    width: 100%;
  }
}
.input2 {
  width: 70%;
  position: relative;
  height: 30px;
  border: none;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
.input2::-webkit-input-placeholder {
  color: grey;
  font-size: small;
}

.imp-exp {
  margin: auto 0;
}
.p23 {
  border: 1px solid grey;
  padding: 10px;
  background: transparent;
}
.pin {
  color: black;
  padding: 0 4px;
}
.location-subdiv2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 15px;
}
.second-divs {
  width: 30%;
  border-radius: 5px;
  background: whitesmoke;
}
@media (max-width: 700px) {
  .location-subdiv2 {
    margin-top: 1px;
  }
  .second-divs {
    width: 100%;
    margin: 10px 0;
  }
  .select {
    width: 100% !important;
  }
}
.input3 {
  width: 80%;
  height: 30px;
  border: none;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
.select {
  width: 90%;
  height: 44px;
  border: none;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  color: grey;
  outline: none;
}
.input3::-webkit-input-placeholder {
  color: grey;
}
